<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/index.js')}}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body class="bg-nav">
    <h1 style="color:whitesmoke">Register</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display4 mt-100" style="color:whitesmoke">Gathering with People Makes you Happy.</h1>
                 </div>
            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <div class ="student">
                            <p>Update The Information</p>
                        </div>
                        
                        <form name="form" class="form" method="POST" onsubmit="return validateForm()" action="/update/{{instance.id}}">   
                            <lable>Name</lable><br>
                            <input id="name" name="name" type="text" class="form-control"><br>
                    
                            <lable>contact Number</lable><br>
                            <input id="number" name="number" type="number" class="form-control"><br>
                            <lable>Address</lable><br>
                            <input id="address" name="address" type="text" class="form-control"><br>
                            <input id="submit" type="submit" class="btn btn-primary btn-block btn-lg" value="Upadte Information">
                        </form>
                        <h6 id="log" class="log" style="color:red">Error of the Data.</h6>
                        <h6 style="color:red">{{error}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
</body>

</html>